.SearchBar {
  display: flex;
  align-items: center;
  width: 80%;
}

@media screen and (max-width: 1439px) {
  .SearchBar {
    width: 50%;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .SearchBar {
    width: 100%;
    margin: 60px 0;
  }
}
