.Filter {
  width: 190px;
}

.Filter > .MuiInput-root {
  width: 100%;
}

.Filter > .MuiInputLabel-root {
  font-style: italic;
  color: #37003c;
}

.Filter > .MuiInputBase-root {
  font-weight: bold;
  color: #37003c;
  width: 180px;
}
