.Filter {
  width: 150px;
}

.Filter > .MuiInput-root {
  width: 100%;
}

.Filter > .MuiInputLabel-root {
  font-style: italic;
  font-size: 12px;
  color: #37003c;
}

.Filter > .MuiInputBase-root {
  font-weight: bold;
  color: #37003c;
}

@media screen and (max-width: 1023px) {
  .Filter {
    width: 100%;
    margin: 10px 0;
  }
}
