.rating-text {
  padding: 10px;
  color: #fff;
  text-align: center !important;
}
.elite {
  background: #0c8539 !important;
}
.excellent {
  background: #66a80f !important;
}
.good {
  background: #e6b600 !important;
}
.poor {
  background: #d95c0f !important;
}
.ItemsList__action {
  padding: 15px 10px;
}
.ItemsList__action {
  display: flex;
  justify-content: space-between;
}
.Loading {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
