.rating-text {
  padding: 10px;
  color: #fff;
  font-weight: bold;
  text-align: center !important;
}
.elite {
  color: #0c8539 !important;
  background: #57ef90 !important;
}
.excellent {
  color: #66a80f !important;
  background: #b6f168 !important;
}
.good {
  color: #e6b600 !important;
  background: #ffe173 !important;
}
.poor {
  color: #d95c0f !important;
  background: #f6ab7c !important;
}
.ItemsList__action {
  padding: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Loading {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
